html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

header {
  background-image: url("../img/banner_glasses-bg.png");
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

#top {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 2rem;
}
ul {
  display: flex;
}
li {
  margin: 1rem 2rem 1rem 0;
}
nav p {
  display: none;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 10rem;
  background-color: white;
  padding: 1.5rem 3rem;
  position: relative;
  left: 2rem;
}

header .container {
  flex-direction: column;
  align-items: flex-end;
}

#services.container {
  justify-content: center;
}
.service {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  text-align: center;
  margin: 3rem;
}

.service img {
  max-width: 5rem
}
#exam img {
  max-width: 3.5rem;
}

#values {
  justify-content: center;
}
.value {
  width: 35%;
  margin: 0 2.5%;
  padding-bottom: 5rem;
}
h2 {
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  display: inline-block;
  width: 7.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer {
  background-color: azure;
}

footer .logo {
  padding: 4rem;
}


@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0;
  }
  header {
    padding-top: 0;
  }
  h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 620px) {
  .logo p {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav p {
    display: block;
    margin: 1rem 2rem 1rem 0;
    font-size: 1rem;
  }
  header {
    height: 17rem;
  }
  h1 {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    position: static;
    text-align: center;
    margin-top: 9rem;
  }
  p {
    font-size: 0.77rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  #services.container {
    padding: 3.77rem 0;
  }
  .service {
    height: auto;
    margin: 0;
  }
  .service p {
    margin: 1rem 0 1.54rem 0;
  }
  .value {
    width: 100%;
    padding: 0;
  }
  h2 {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 1.25rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .value p {
    margin: 1rem 0.25rem 4rem 0.25rem;
  }
  footer {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  footer .logo img{
    margin: 0 ;
    display: inline;
}
}
